<div class="detail-box">
    <div class="flex-container">
        <div class="float-child">
            <label class="label-size" for="ctc">Current ctc</label>
        </div>
        <div class="float-child">
            <input name="ctc" type="number" placeholder="Enter current ctc" 
            [(ngModel)]="current_ctc" style="font-size: 15px;display: inline;" 
            class="form-control">
        </div>
    </div>
    <div class="flex-container">
        <div class="float-child">
            <label class="label-size" for="hike">Hike</label>
        </div>
        <div class="float-child">
            <input name="hike" type="number" placeholder="Enter hike %" 
            [(ngModel)]="hike" style="font-size: 15px;display: inline;" 
            (ngModelChange)="find_hike()" class="form-control">
        </div>
    </div>
    <div class="flex-container">
        <div class="float-child">
            <label class="label-size" for="basic_pay_per">Basic Pay %</label>
        </div>
        <div class="float-child">
            <input name="basic_pay_per" type="number" placeholder="Enter basic_pay %" 
                [(ngModel)]="basic_pay_per" style="font-size: 15px;display: inline;" 
                (ngModelChange)="find_hike()" class="form-control">
        </div>
    </div>
    <div class="flex-container">
        <div class="float-child">
            <label class="label-size" for="vpay">Variable Pay</label>
        </div>
        <div class="float-child">
            <input name="vpay" type="number" placeholder="Enter variable pay" 
                [(ngModel)]="variable_pay" style="font-size: 15px;display: inline;" 
                (ngModelChange)="find_hike()" class="form-control">
        </div>
    </div>
    <div class="flex-container">
        <div class="float-child">
            <label class="label-size" for="others">Others</label>
        </div>
        <div class="float-child">
            <input name="others" type="number" placeholder="Other expenses" 
                [(ngModel)]="others" style="font-size: 15px;display: inline;" 
                (ngModelChange)="find_hike()" class="form-control">
        </div>
    </div>
    <button class="btn btn-primary" id="brew-button" (click)="find_hike()">Brew</button>
    <p class="label-size">Final CTC : {{final_ctc | number : '1.0-0'}}</p>
    <p class="label-size">Monthly gross : {{monthly_gross | number : '1.0-0'}}</p>
    <p class="label-size">Net annual : {{net_annual | number : '1.0-0'}}</p>
    <p class="label-size">Net month : {{net_month | number : '1.0-0'}}</p>

    <p class="label-size" style="margin-top: 50px;">Basic Pay : {{basic_pay | number : '1.0-0'}}</p>
    <p class="label-size">PF : {{pf | number : '1.0-0'}}</p>
    <p class="label-size">Gratuvity : {{gratuvity | number : '1.0-0'}}</p>
    <p class="label-size">VPF : {{vpf | number : '1.0-0'}}</p>
    <p class="label-size">Total Deductions : {{total_deductions | number : '1.0-0'}}</p>
</div>
