.detail-box {
    font-size: 30px;
    margin-left: 30px;
    margin-top: 30px;
}
.hike-slider {
    margin-left: 15px;
    width: 35%;
    display: inline;
    font-size: 20px;
}
#brew-button{
    width: 100px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.label-size{
    font-size: 20px;
}
